rules_version = '2'; 
service cloud.firestore { 
  match /databases/{database}/documents { 
    match /zerohour/main { 
      allow read, write: if request.time < timestamp.date(2026, 12, 31); 
    } 
    match /{document=**} { 
      allow read, write: if false; 
    } 
  } 
} 
